
fastapi==0.109.2
uvicorn==0.25.0
SQLAlchemy==2.0.25
alembic==1.13.1
textblob==0.17.1
spacy==3.7.2
yake==0.4.8
psycopg2-binary==2.9.9
nltk==3.6.5
spacy==3.7.2
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4
matplotlib==3.10.1
torch==2.6.0
transformers==4.50.0
tensorflow==2.16.2
openai==1.68.2
apscheduler==3.11.0
vaderSentiment==3.3.2